.topic-post .topic-body {
    background-color: white;
}
.topic-post .topic-avatar {
    border-top: none;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 1px;
}
.topic-body .post-menu-area {
    padding-left: 10px;
}

